<html>
<head>
  <meta charset='utf-8' />
  <title>mruby/c basictest report</title>
</head>
<body>

  <% $tests.each do |test| %>
    <div>
      <h2><%=h File.basename(test.out_path) %></h2>
      <pre style='float: left; width: 50%'><%=h test.rb_txt %></pre>
      <pre><%=h test.out_txt %></pre>
      <br style='clear:both'>
    </div>
  <% end %>

</body>
</html>
